<!DOCTYPE html>
<html>
<style>
    body {
        background-color: #0099ff;
    }
</style>

<div class="container-fluid ">

    <div class="row pt-5 pb-2 home-welcome">
        <div class="col-12 text-center">
            <h3>Welcome to the RFSBW Customer Analysis Portal. </h3>
            <br />
            <h6>The data found here will inform our upcoming business decisions and determine our success. </h6>
        </div>
        <div class="col">

        </div>

    </div>
    <div class="row">

    </div>

</div>