<div class="container m-4">
  <div class="row">
    <div class="col">

      <h1>Browse Branches</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Location</th>
          <th>Total Sales</th>
          <th>Products</th>
          <th>Orders</th>
          <th>Customers</th>
          <th>Del.</th>
        </tr>
        <tr>
          <td>Portland, OR</td>
          <td>$ 1,750,322</td>
          <td>50</td>
          <td>325</td>
          <td>232</td>
          <td>🗑</td>
        </tr>
        <tr>
          <td>SanFrancisco, CA</td>
          <td>$ 4,750,567</td>
          <td>55</td>
          <td>1232</td>
          <td>807</td>
          <td>🗑</td>
        </tr>
      </table>
    </div>
  </div>

</div>