<div class="container m-4">
  <div class="row">
    <div class="col">

      <h1>Browse Orders</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-right pb-3">
      <a class="btn btn-outline-dark" href="#" role="button">Sort by Date</a>
      <a class="btn btn-outline-dark ml-2" href="#" role="button">Filter by Price</a>
      <a class="btn btn-primary ml-5" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">+
        New</a>
    </div>
  </div>
  {{!-- <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> --}}

  {{!-- Calculate total price off the sum of the orders prices --}}

  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Purchase Date</th>
          <th>Total Price</th>
         
          <th>Customer</th>
          <th>Branch</th>
          <th>Edit</th>
          <th>Del.</th>
        </tr>
        <tr>
          <td>2020-07-20</td>
          <td>$ 100,000</td>
          
          <td>Spongebob</td>
          <td>Portland, OR</td>
          <td class="text-center">✏️</td>
          <td class="text-center">🗑</td>
        </tr>
        <tr>
          <td>2020-01-01</td>
          <td>$ 2,000,000</td>
         
          <td>Barack Obama</td>
          <td>SanFrancisco, CA</td>
          <td class="text-center">✏️</td>
          <td class="text-center">🗑</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label for="purchaseDate">Date</label>
            <input type="date" class="form-control" id="purchaseDate" aria-describedby="purchaseDate"
              placeholder="Enter date">
            {{!-- <small id="dateHelp" class="form-text text-muted">Ex. "2020-07-20" (YYYY-MM-DD)</small> --}}
          </div>

          <div class="form-group">
            <label for="productBranch">Branch</label>
            <br />
            <select id="productBranch" name="productBranch">
              <option value="volvo">Insert</option>
              <option value="saab">Dynamic</option>
              <option value="fiat">Functionality with JS</option>
            </select>
            <small id="selectProductHelp" class="form-text text-muted">Branch the order is placed at.</small>
          </div>

        

          <div class="form-group">
            <label for="customer">Customer</label>
            <br />
            <select id="customer" name="customer">
              <option value="volvo">Insert</option>
              <option value="saab">Dynamic</option>
              <option value="fiat">Functionality with JS</option>
            </select>

          </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>