<div class="container m-4">
  <div class="row">
    <div class="col">

      <h1>Browse Products</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-right pb-3">
      <a class="btn btn-outline-dark" href="#" role="button">Sort by Branch</a>
      <a class="btn btn-outline-dark ml-2" href="#" role="button">Sort by Price</a>
      <a class="btn btn-primary ml-5" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button">+
        New</a>
    </div>
  </div>
  {{!-- <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> --}}


  <div class="row">
    <div class="col">
      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Branch</th>
          <th>Price</th>
          <th>Edit</th>
          <th>Del.</th>
        </tr>
        <tr>
          <td>Speedy Boat</td>
          <td>Portland, OR</td>
          <td>$ 58,671</td>
          <td class="text-center">✏️</td>
          <td class="text-center">🗑</td>
        </tr>
        <tr>
          <td>Super Boat</td>
          <td>Portland, OR</td>
          <td>$ 92,103</td>
          <td class="text-center">✏️</td>
          <td class="text-center">🗑</td>
        </tr>
        <tr>
          <td>Luxury Boat</td>
          <td>SanFrancisco, CA</td>
          <td>$ 182,449</td>
          <td class="text-center">✏️</td>
          <td class="text-center">🗑</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label for="productName">Name</label>
            <input type="text" class="form-control" id="productName" aria-describedby="nameHelp"
              placeholder="Enter product name">
            <small id="emailHelp" class="form-text text-muted">Ex. "Big Boat" or "Fun Boat"</small>
          </div>


          <div class="form-group">
            <label for="productPrice">Price</label>
            <input type="number" class="form-control" id="productPrice" aria-describedby="priceHelp"
              placeholder="Enter product price">
            <small id="priceHelp" class="form-text text-muted">Ex. 45,000</small>
          </div>


          <div class="form-group">
            <label for="productBranch">Branch</label>
            <br />
            <select id="productBranch" name="productBranch" multiple>
              <option value="volvo">Insert</option>
              <option value="saab">Dynamic</option>
              <option value="fiat">Functionality with JS</option>
            </select>
            <small id="selectProductHelp" class="form-text text-muted">Hold down the Ctrl (windows) / Command (Mac)
              button to select multiple options.</small>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>