* {
  padding: 0;
  margin: 0;
}

html,
h1,
h2,
h3,
h4,
h5,
a,
span {
  font-family: "Spartan", sans-serif;
  font-weight: 600 !important;
}

p {
  font-family: "Spartan", sans-serif;
}
